@model IEnumerable<AGIMaster.Models.Product>
@{
    ViewBag.Title = "MakeOrder";
}


<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-7">
    <h2>@ViewBag.Message</h2>
    @*<h3> This is where you can make an Order</h3>*@
    <table id="orders" class="table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Specification</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderBy(x => x.Id))
            {
                <tr id="@product.Id" data-name="@product.Name" data-price="@*@product.Price*@0.0">
                    <td width="20%" height="125px"><img src="~/Images/no-image.jpg" height="100" width="100"/></td>
                    <td width="20%" height="25%">@product.Name</td>
                    <td width="40%" height="25%">@product.Description</td>
                    <td width="20%" height="25%"><span class="glyphicon glyphicon-asterisk"></span></td>
                </tr>

            }
        </tbody>
    </table>
</div>
    <div id="form" class="col-md-4">
        <div style="position:fixed">
            <h2>Click the items you want.</h2>
            <table id="items" class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="80">
                            Product
                        </th>
                        <th width="80">
                            Quantity
                        </th>
                        <th width="80">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody><tr id="EMPTY"><td>No Items in Cart</td><td>0</td><td>:(</td></tr></tbody>
            </table>
            <br />
            @*<h3>Total: $<span id="price"></span></h3>*@
            <button type="button" id="formSubmit" class="btn btn-primary hidden">Submit</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var inTable = new Array();
    var dupFlag = false;
    var totalPrice = 0.0;
    var descriptions = new Array();
    var initFlag = false;
    $(document).on("ready", function () {
        $("#orders tbody tr").on("click", function () {
            if ($("#items tbody tr").attr("id") == "EMPTY") {
                $("#items tbody").empty();
                $("button#formSubmit").toggleClass("hidden");
            }
            var id = $(this).attr("id");
            if (inTable.length > 0) {
                for (i = 0; i < inTable.length; i++) {
                    if (inTable[i] == id) {
                        dupFlag = true;
                    }
                }
            }
            if (dupFlag) {
                var dup = $("table#items tr[ id=\"" + id + "\"]");
                var value = parseInt($(dup).find("td input").val()) +1;
                $(dup).find("td input").attr("value", value);

                totalPrice += parseFloat($(dup).data("price")) * value;
                dupFlag = false;
            } else {
                inTable[inTable.length] = id;
               // console.log("click");
                var newRow = "<tr id=\"" + id + "\"><td>" + $(this).data("name") + "</td><td><input id='spinner' class=\"ui-spinner-input\" type=\"number\" value=\"1\" min=\"1\" max=\"99\"/></td><td><span id=\"" + id + "\" class=\"glyphicon glyphicon-trash\"></span></td></tr>";
               // console.log(newRow);
                $("table#items tbody").append(newRow);
                totalPrice += parseFloat($(this).data("price")) * parseInt($(this).find("td input").val());

            }
            console.log(totalPrice);
            $("span#price").text(totalPrice);

        });
        $("#form div #items tbody").on("click", " tr td span", function () {
            //console.log($(this).attr("id"));
            var id = $(this).attr("id");
            inTable.splice(inTable.indexOf(id), 1);
            $(this).closest("tr").remove();
            $("#items tbody:empty").append("<tr id='EMPTY'><td>No Items in Cart</td><td>0</td><td>:(</td></tr>");
            if ($("#items tbody tr").attr("id") == "EMPTY") {
                $("#formSubmit").toggleClass("hidden");
            }
        });
        $("#orders tbody tr td").on("hover", "span", function () {
            $(this).closest("tr").attr("id")

        });
        $("div#form button#formSubmit").on("click", function () {
            var products;
            var quantities;
            var counter = 0;
            $("table#items > tbody > tr").each(function () {
                if (counter == 0) {
                    products = $(this).attr("id");
                    quantities = $(this).find("input").attr("value");
                }
                else {
                    products += "," + $(this).attr("id");
                    quantities += "," + $(this).find("input").attr("value");
                }
                counter++;
            });
            // alert("Before aJax");
            console.log("Products: "+products+"\nQuantities: "+quantities);
            $.ajax({
                url: "@Url.Action("CreateOrder", "Orders")",
                type:"POST",
                data: {
                    products: products,
                    quantities: quantities
                },
                success: function(data) {
                   // alert("Submitted");
                    window.location = "/Orders/Orders";
                },
                error: function(e){
                    alert("ERROR\nProducts: "+products+"\nQuantities: "+quantities);
                    console.log(e.error());
                   // debugger;
                }
            });
            counter = 0;
            products = "";
            quantities = "";
        });
        $("#spinner").spinner();
    });
</script>