@model AGIMaster.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}
<body>

    <div class="container center-block">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @style = "width:20%" })

                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @style = "width:20%" })

                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)

                <button type="submit" class="alert-success">Login</button>
            </fieldset>
        }
        </div>
</body>
