@model AGIMaster.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}
<body>

    <div class="container center-block">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @style = "width:20%" })

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:20%" })

                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
                <br>
                <button type="submit" class="btn btn-default">Login</button>
                <a href="/User/Register"> <button class="btn btn-default" type="button">New User</button></a>
            </fieldset>
            @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")


        }
</div>
</body>
